<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maaltafels</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table>
        <% for (let i = 1; i <= 10; i++) { %>
            <tr>
                <th><%= i %></th>
            <% for (let j = 1; j <= 10; j++) { %>
                <td><%= i * j %></td>
            <% } %>
            </tr>
        <% } %>
    </table>
</body>
</html>