    <%- include("partials/header") %>
    <main>
        <h1>Word Guess</h1>
        <p>Welcome to the game of Woordol! Guess the word!</p>

        <a href="/guess">Start here!</a>
    </main>
    <%- include("partials/footer") %>