<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newspaper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/politics">Politics</a>
            <a href="/economy">Economy</a>
            <a href="/sports">Sports</a>
            <a href="/entertainment">Entertainment</a>
            <a href="/technology">Technology</a>
        </nav>
    </header>

    <main>
        <% for (let i = 0; i < articles.length; i++) { %>
            <article>
                <h1><%= articles[i].title %></h1>
                <p><%= articles[i].content %></p>
            </article>
        <% } %>
        

    </main>
</body>
</html>