<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Hello World</h1>

    <main>
        <form action="/submit" method="post">
            <p style="font-weight: bold; font-size: 1.1rem;"><%= message %></p>
            <br>
            <img src="<%= images %>" style="width: 320px; border-radius: 20px;">
        </form>
    </main>
</body>
</html>