    <%- include("partials/header") %>
    <%- include("partials/nav") %>
    <main>
        <div class="header">
            <h2>Home</h2>
        </div>

        <div class="tweet_box">
            <form method="post" action="/">
                <div class="tweet_box-input">
                    <img src="/images/avatars/izJordy.png" alt="profile image">
                    <input type="hidden" name="handle" value="izJordy">
                    <input type="hidden" name="name" value="Jordy Van Den Kieboom">
                    <textarea rows="4" cols="40" placeholder="What's happening?" name="text"></textarea>
                    <button>Tweet</button>
                </div>
            </form>

        </div>
        <%- include("partials/tweets") %>
    </main>
    <%- include("partials/aside") %>
</body>
</html>